<div *ngIf="todo">
    <h1>Edit</h1>
    <form class="form" #formEdit="ngForm" (ngSubmit)="onUpdate()">
        <div class="row form-group">
            <label class="col-2"><span class="text-capitalize">id</span></label>
            <div class="col">
                <input class="form-control" type="text" name="todoId" [(ngModel)]="todo.id" readonly>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-2"><span class="text-capitalize">created at</span></label>
            <div class="col">
                <input class="form-control" type="text" name="todoCreatedAt" [(ngModel)]="todo.createdAt" readonly>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-2"><span class="text-capitalize">todo name</span></label>
            <div class="col">
                <input class="form-control" type="text" name="todoName" [(ngModel)]="todo.name">
            </div>
        </div>
        <div class="row form-group">
            <label class="col-2"><span class="text-capitalize">status</span></label>
            <div class="col">
                <input class="form-control" type="text" name="todoStatus" [(ngModel)]="todo.status">
            </div>
        </div>
        <div class="row form-group justify-content-md-center">
            <button type="submit" class="btn btn-primary">Edit</button>
            &nbsp;
            <button type="button" class="btn btn-default">cancel</button>
        </div>
    </form>
</div>